<h1>Photos#index</h1>
<p>Find me in app/views/photos/index.html.erb</p>

<% if @user_id %>
  <a href="/auth/logout">Logout</a>
<% else %>
  <a href="/auth/login">Login</a>
<% end %>

<ul>
  <% @photos.each do |element| %>
    <li><%= image_tag(element.title, :alt => "rss feed") %></li>
  <% end %>
</ul>